.wrapper {
	display: flexbox;
}
/* .contenedor {
	  display: inline-block;
  } */
header {
	border: 20px solid white;
	padding: 50px;
	margin-left: 310px;
	margin-right: 310px;
	margin-bottom: 30px;
}
nav {
	border: 20px solid white;
	/* padding: 50px; */
	display: inline-block;
	/* display: flexbox; */
	/* margin-left: 50px;
	  margin-right: 5px; */
	margin-top: 30px;
	width: 480px;
	height: 500px;
}
section {
	border: 20px solid white;
	/* padding: 50px; */
	display: inline-block;
	/* display: flexbox; */
	/* margin-left: 5px;
	  margin-right: 50px; */
	margin-top: 30px;
	width: 1450px;
	height: 500px;
}
/**************************************
  DON'T CHANGE ANYTHING AFTER THIS LINE
  **************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}
